.hojaVida {
    position: relative;
    width: 900px;
    height: 1226px;
    border: 2px solid black;
}

.selfie {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 280px;
    height: 280px;
    border: 1px solid black;
    display: flex; /* Activa el modelo flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 10px;

}

.foto {
    max-width: 100%; /* Escala la imagen */
    max-height: 100%;
    border-radius: 50%; /* Redondea la imagen, opcional */
}

.infoPersonal {
    width: 280px;
    height: 580px;
    top: 312px;
    left: 6px;
    position: absolute;
    border: 1px solid black;
    padding: 10px;
}

.certificado {
    position: absolute;
    width: 280px;
    height: 280px;
    top: 918px;
    left: 6px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenCertificado {
    width: 300px;
    height: auto;
}

.infoAcademica {
    
}