@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    width: 1920px;
    height: 1080px;
    background-image: linear-gradient(#FFFFFF,#E6E6E6, #808080);
    display: grid;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; /* Bold */
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; /* Semibold */
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; /* Light */
}

a {
    text-decoration: none; /* Quita la línea subrayada */
    color: inherit; /* Mantiene el color del texto original */
}


.tarjetaMetro {
    position: relative;
    width: 1400px;
    height: 800px;
    background-color: white;
    border: 2px solid #707070;
    place-self: center;
    }

.barraDerechaNegra {
    position: absolute;
    width: 110px;
    height: 800px;
    top: 0;
    right: 0;
    background-color: #212020;
    border-left: 2px solid #707070;
}

.logoMetrolinea {
    position: absolute;
    width: 196px;
    height: 44px;
    left: 43px;
    top: 43px;
}

.cuadroVerde {
    position: absolute;
    width: 160px;
    height: 114px;
    background-color: #d5ff43;
    top: 647px;
    right: 160px;
    border-radius: 8px;
}

.logoCuadro {
    position: absolute;
    width: 129px;
    height: 29px;
    top: 676px;
    right: 176px;
}

.tarjetaMetrolinea {
    position: absolute;
    width: 884px;
    height: 497px;
    top: 122px;
    left: 127px;
}

.carrito {
    position: absolute;
    width: 33px;
    height: 32px;
    top: 51.5px;
    right: 143.33px;
}

.search {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 51.5px;
    right: 249.3px;
}

.compraTarjeta {
    position: absolute;
    width: 230px;
    height: 41px;
    top: 18px;
    left: 700px;
    font-size: 30;
}

.saldo {
    position: absolute;
    width: 132px;
    height: 41px;
    top: 18px;
    left: 968px;
    font-size: 30;
}

.metroSaldo {
    position: absolute;
    width: 800px;
    height: 55px;
    bottom: 80px;
    left: 58px;
    font-size: 40;
}

.dinero {
    position: absolute;
    width: 180px;
    height: 37px;
    bottom: 39px;
    left: 58px;
    font-size: 27;
}

.comprar {
    position: absolute;
    width: 111px;
    height: 36px;
    right: 184px;
    bottom: 27px;
    font-size: 26;
}

.menu {
    position: absolute;
    width: 23px;
    height: 187px;
    top: 307px;
    right: 47px;
}

.flechaArriba {
    position: absolute;
    width: 24px;
    height: 14px;
    top: 40px;
    right: 43.2px;
}

.flechaAbajo {
    position: absolute;
    width: 24px;
    height: 14px;
    top: 746px;
    right: 43.3px;
}

.cantidad {
    position: absolute;
    width: 84px;
    height: 27px;
    top: 149px;
    right: 13px;
    font-size: 20;
    color: #FFFFFF;
}

.linea1 {
    position: absolute;
    width: 146px;
    height: 2px;
    top: 102.5px;
    right: 513.5px;
}